workflow-n8n.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gerador-fundo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "983139c8-980e-4fe5-8a2f-05ccbb1a46dc",
      "name": "Webhook",
      "webhookId": "053378df-2471-43a9-a4e5-0424c5b1b2b7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        0
      ],
      "id": "4d37b926-defd-43c5-a78f-a3113567f403",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.description }}",
        "options": {
          "systemMessage": "Gerador de Animações de FUNDO DE PAGINA CSS\nCrie uma animação CSS de FUNDO DE SITE e responda somente com este formato, em json puro\n\n{\n\"code\": \"HTML gerado\",\n\"preview\": \"<div class=\"bg\"></div>\n<div class=\"bg bg2\"></div>\n<div class=\"bg bg3\"></div>\",\n\"style\": \"CSS puro\"\n}\n\nExemplo de fundo animado\n\n{\ncode: \"<div class=\"bg\"></div>\n<div class=\"bg bg2\"></div>\n<div class=\"bg bg3\"></div>\",\n\nstyle:\"html {\n height:100%;\n}\n\nbody {\n margin:0;\n}\n\n.bg {\n animation:slide 3s ease-in-out infinite alternate;\n background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);\n bottom:0;\n left:-50%;\n opacity:.5;\n position:fixed;\n right:-50%;\n top:0;\n z-index:-1;\n}\n\n.bg2 {\n animation-direction:alternate-reverse;\n animation-duration:4s;\n}\n\n.bg3 {\n animation-duration:5s;\n}\n\n.content {\n background-color:rgba(255,255,255,.8);\n border-radius:.25em;\n box-shadow:0 0 .25em rgba(0,0,0,.25);\n box-sizing:border-box;\n left:50%;\n padding:10vmin;\n position:fixed;\n text-align:center;\n top:50%;\n transform:translate(-50%, -50%);\n}\n\nh1 {\n font-family:monospace;\n}\n\n@keyframes slide {\n 0% {\n   transform:translateX(-25%);\n }\n 100% {\n   transform:translateX(25%);\n }\n}\"\n}\n\nREGRAS:\nSem quebras de linha\nUse aspas simples dentro das strings\nAnimações coloridas e impressionantes\nCódigo simples com visual marcante\nse atente pra criar todas os elementos html que você definiu nas classes css e vice versa\nnão retorne nenhuma div ou estilo com loader, ou classe loader\nnão retorne nenhuma propriedade com overflow"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        192,
        0
      ],
      "id": "dd180744-4f9d-4118-ae93-9d77c94f49a2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        192,
        208
      ],
      "id": "ed928db3-f3ef-4e9c-ba70-9a634c74cc9c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Qe33G0bKUfXaaKqp",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "evandrog.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/147.0.0.0 Safari/537.36",
            "content-length": "23",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "177.10.11.252",
            "cf-ew-via": "15",
            "cf-ipcountry": "BR",
            "cf-ray": "9f32761f4cae06a3-GIG",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "origin": "http://127.0.0.1:5500",
            "priority": "u=1, i",
            "referer": "http://127.0.0.1:5500/",
            "sec-ch-ua": "\"Google Chrome\";v=\"147\", \"Not.A/Brand\";v=\"8\", \"Chromium\";v=\"147\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "177.10.11.252, 172.70.140.70",
            "x-forwarded-host": "evandrog.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-66-7d96b7dd4b-gl8fg",
            "x-is-trusted": "yes",
            "x-real-ip": "177.10.11.252"
          },
          "params": {},
          "query": {},
          "body": {
            "description": "Um gradiente lilás, azul e magenta"
          },
          "webhookUrl": "https://evandrog.app.n8n.cloud/webhook-test/gerador-fundo",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "690b36ba-654a-45bd-b013-33ad106bd662",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "72bbb071bb9927e928cac1bdd5666eaeaabc5b817ec984a0b65f96ded1f6a3a9"
  },
  "id": "EUKrtpvWKBoiyhMt",
  "tags": []
}